html {
    image-rendering: pixelated;
}

body {
    -webkit-font-smothing: none;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #0b0b0b;
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 10px 10px;
    color: pink;
    font-size: 16px;
    
}

.cursor {
    display: inline-block;
    margin-left: 3px;
    width: 2px;
    opacity: 1;
    animation: test 1.2s infinite;
}

@keyframes test {
    0%{ opcaity: 1; }
    50%{ opacity: 0; }
}

.cv-container {
    max-width: 720px;
    margin: 2rem auto;
    padding: 1.5rem;
}

.cv-window {
    background-color: #0f0f0f;
    border: 5px solid #eaeaea;
    padding: 32px;
}

@media (max-width: 480px){
    .cv-window {
        padding: 20px;
    }
    h1 {
        font-size: 20px;
    }
    h3 {
        font-size: 13px;
    }
}

@media (prefers-reduced-motion: reduce) {
    .cursor {
        animation: none;
    }
}

hr {
    border: non; border-top: 2px solid pink;
    margin: 24px 0;
}

section {
    margin-top: 32px;
}

h1 {
    font-size: clamp(2rem, 8vw, 3.5rem);
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 12px;
    line-height: 1.1;

}

h2 {
    letter-spacing: 1px;
    font-size: 16px;
}

h3 {
    font-size: 14px;
    letter-spacing: 0.5px;
}

p, li{
    font-family: monospace;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 0.5rem;
}

ul {
    padding-left: 1.2rem;
}

a {
    color: #ffb6c1;
    text-decoration: none;
    display: inline-block; 
    padding: 0.2rem 0;
}

a:focus,
a:hover {
    text-decoration: underline;
}